# Options +FollowSymlinks
# RewriteEngine On

# RewriteBase /campus.sc/
# RewriteRule ^([0-9A-Za-z]+)/([0-9A-Za-z]+)\.html$ detail.php?MODULE=$1&ACTION=$2 [L]
## exemple de réécriture : detail_Demo/add.html